<footer class="footer mt-5 py-4">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-4 mb-4 text-center text-md-start">
                <h5 class="footer-logo">HappyCash.it</h5>
                <p>La tua carta fedeltà digitale, sempre con te.</p>
            </div>

            <div class="col-md-4 mb-4 text-center">
                <h6>Link utili</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Termini e Condizioni</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-4 text-center text-md-end">
                <h6>Contatti</h6>
                <p><i class="fa fa-id-card"></i> RC di Rugolo Carmelo</p>
                <p><i class="fa fa-id-card"></i> P.IVA: 05055740871</p>
                <p><i class="fa fa-envelope"></i> <a
                        href="mailto:info&#64;fidelitycard.it">amministrazionehappycash&#64;gmail.com</a></p>
            </div>
        </div>
        <hr />
        <div class="text-center small text-white-50">
            &copy; 2025 FidelityCard — Tutti i diritti riservati.
        </div>
    </div>
</footer>