<div class="container text-center mt-5">
  <h1>{{ editMode ? 'Modifica Utente' : 'Registrati' }}</h1>
</div>

<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="registerData.name"
        [required]="!editMode" />
    </div>

    <div class="form-group">
      <label for="surname">Cognome</label>
      <input type="text" id="surname" name="surname" class="form-control" [(ngModel)]="registerData.surname"
        [required]="!editMode" />
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" [(ngModel)]="registerData.username"
        [required]="!editMode" />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="registerData.email"
        [required]="!editMode" />
    </div>

    <!-- Password -->
    <div class="form-group position-relative">
      <label for="password">Password</label>
      <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="form-control"
        [(ngModel)]="registerData.password" [required]="!editMode" />
      <i class="fa fa-eye toggle-password" (click)="togglePassword()" [class.fa-eye-slash]="showPassword"></i>
    </div>

    <!-- Conferma Password -->
    <div class="form-group position-relative">
      <label for="confirmPassword">Conferma Password</label>
      <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
        class="form-control" [(ngModel)]="confirmPassword" [required]="!editMode" />
      <i class="fa fa-eye toggle-password" (click)="toggleConfirmPassword()"
        [class.fa-eye-slash]="showConfirmPassword"></i>
    </div>

    <div class="form-group">
      <label for="cellulare">Cellulare</label>
      <input type="text" class="form-control" name="cellulare" [(ngModel)]="registerData.telefono"
        [required]="!editMode" />
    </div>

    <div class="form-group">
      <label for="codiceFiscale">Codice Fiscale</label>
      <input type="text" class="form-control" name="codiceFiscale" [(ngModel)]="registerData.codiceFiscale"
        [required]="!editMode" />
    </div>

    <div class="form-group">
      <label for="codiceFiscale">Comune</label>
      <input type="text" class="form-control" name="comune" [(ngModel)]="registerData.comune" [required]="!editMode" />
    </div>

    <!-- Consensi -->
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="consensoPrivacy"
          [(ngModel)]="registerData.consensoPrivacy" [required]="!editMode" />
        Acconsento al trattamento dei dati personali (Privacy)
      </label>
      <div class="mt-1">
        <a href="assets/pdf/privacy.pdf" target="_blank">📄 Visualizza Informativa Privacy</a>
      </div>
    </div>

    <!-- TERMINI E CONDIZIONI -->
    <div class="form-check mt-3">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="terminiCondizioni"
          [(ngModel)]="registerData.terminiCondizioni" [required]="!editMode" />
        Accetto i termini e condizioni
      </label>
      <div class="mt-1">
        <a href="assets/pdf/regolamento.pdf" target="_blank">📄 Visualizza Regolamento</a>
      </div>
    </div>

    <!-- MARKETING -->
    <div class="form-check mt-3">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="marketing" [(ngModel)]="registerData.marketing" />
        Acconsento a ricevere comunicazioni marketing
      </label>
      <div class="mt-1">
        <a href="assets/pdf/modulo_diritti.pdf" target="_blank">📄 Visualizza Modulo Diritti</a>
      </div>
    </div>

    <!-- Se l'admin sta registrando da modale -->
    <div class="form-group" *ngIf="isFromModal">
      <label for="role" class="form-label">Ruolo</label>
      <select id="role" name="role" class="form-control" [(ngModel)]="registerData.role" [required]="!editMode">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>

    <button type="submit" [disabled]="signupForm.invalid && !editMode" class="btn btn-primary mt-3">
      {{ editMode ? 'Aggiorna Utente' : 'Registrati' }}
    </button>
  </form>
</div>